body {
  background-color: #1d2d3c;
}

header {
  background-color: #0f161e;
  height: 60px;
}

header img {
  width: 40px;
}

.card {
  border: none;
  border-radius: 20px;
  width: 250px;
}

.card img {
  width: 160px;
}

section {
  background-color: #112030;
  color: white;
  min-height: 320px;
}
